@import 'tailwindcss';

:root {
  --color-primary: #49bbbd;
  --color-background: #92d6d6;
  --color-primary-hover: #5dd5d5;
  --color-primary-matte: #b5eeee;
  --color-text-default: #404040;
  --color-matte: #d5d5d5;
  --color-blue: #1668dc;
  --color-green: rgb(29, 185, 84);
  --color-red: red;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5715;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom CSS */
.line-clamp-4 {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

ol {
  list-style: decimal !important;
  padding-left: 16px;
}

ul {
  list-style: disc !important;
  padding-left: 16px;
}

.primary-text {
  color: var(--color-primary-hover);
}

.matte-text {
  color: #989898;
}

/* Select, Picker, Input */
.ant-select,
.ant-picker,
.ant-input-number {
  width: 100% !important;
}

/* Menu */
.ant-menu-light .ant-menu-item-selected {
  background-color: var(--color-background) !important;
  color: white !important;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: var(--color-primary) !important;
}

.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding-inline: 0 !important;
}

.ant-menu-inline-collapsed .ant-menu-item-icon {
  margin: auto !important;
  width: 100% !important;
}

.ant-menu .ant-menu-item .ant-menu-item-icon {
  vertical-align: -4.5px !important;
}

.ant-menu-horizontal .ant-menu-item-selected::after,
.ant-menu-horizontal .ant-menu-item:hover::after,
.ant-menu-horizontal .ant-menu-item::after {
  border-bottom: none !important;
  border-bottom-width: 0 !important;
}

/* Modal */
.ant-modal-container {
  border-radius: 10px !important;
  overflow: hidden !important;
  padding: 0px !important;
}

.ant-modal-header {
  background-color: var(--color-primary) !important;
  padding: 12px !important;
}

.ant-modal-title {
  color: white !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.ant-modal-close {
  color: white !important;
}

.ant-modal-close:hover {
  background-color: transparent !important;
}

.ant-modal-body {
  padding: 20px !important;
}

.ant-modal-footer {
  padding: 0px 20px 20px 0px !important;
  margin-top: 0 !important;
}

/* Tab */
.ant-tabs-nav:before {
  border-bottom: 1px solid var(--color-matte) !important;
}

.ant-tabs-tab {
  border: 1px solid var(--color-matte) !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-primary) !important;
}

/* Form */
.ant-form-item {
  margin-bottom: 12px !important;
}

.ant-form-item-label {
  padding-bottom: 4px !important;
}

.ant-form-item-label > label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-form-item-explain-error {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
